# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/

# Output files
*.pptx
*.png
*.csv

#Old files
agentpro/tools/data_analysis.py
agentpro/tools/note_manager_tool.py
agentpro/tools/planner_tool.py